<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.BlogMapper">
    <select id="selectBlogDECSByLikes" resultType="com.sky.vo.BlogVO">
        SELECT
        b.id,
        b.title,
        b.picture,
        u.avatar,
        b.author_id AS authorId,
        u.user_name AS authorName,
        ct.id AS categoryId,
        ct.name AS categoryName,
        COUNT(l.id) as like_count,
        MAX(CASE WHEN l.status = 1
                          AND l.user_id = #{userId}
            THEN 1 ELSE 0 END) AS status
        FROM
        sys_blog b
        LEFT JOIN
        sys_likes l ON b.id = l.post_id
        LEFT JOIN
        sys_user u ON b.author_id = u.id
        LEFT JOIN
        sys_categories ct ON b.category_id = ct.id
        WHERE
        b.status = 0 AND
        b.examine = 1
        <if test="categoryId != null and categoryId != ''">
            AND b.category_id = #{categoryId}
        </if>
        <if test="title != null and title != ''">
            AND b.title like CONCAT('%', #{title}, '%')
        </if>
        GROUP BY
        b.id
        ORDER BY
        like_count DESC
    </select>

    <select id="selectBlogForLike" resultType="com.sky.vo.BlogVO">
        SELECT
        b.id,
        b.title,
        b.picture,
        u.avatar,
        b.author_id AS authorId,
        u.user_name AS authorName,
        ct.id AS categoryId,
        ct.name AS categoryName,
        COUNT(l.id) as like_count,
        MAX(CASE WHEN l.status = 1
        AND l.user_id = #{userId}
        THEN 1 ELSE 0 END) AS status
        FROM
        sys_blog b
        LEFT JOIN
        sys_likes l ON b.id = l.post_id
        LEFT JOIN
        sys_user u ON b.author_id = u.id
        LEFT JOIN
        sys_categories ct ON b.category_id = ct.id
        WHERE
        b.status = 0 AND
        b.examine = 1 AND
        b.id = #{postId}
        GROUP BY
        b.id
        ORDER BY
        like_count DESC
    </select>

    <select id="selectBlogDetail" resultType="com.sky.vo.BlogDetailVO">
        SELECT
            b.id,
            b.title,
            b.content,
            b.picture,
            u.avatar,
            b.author_id AS authorId,
            u.user_name AS authorName,
            ct.id AS categoryId,
            ct.name AS categoryName,
        COUNT(DISTINCT CASE WHEN l.status = 1 THEN l.id END) AS like_count,
        COUNT(DISTINCT CASE WHEN f.status = 1 THEN f.id END) AS favor_count,
        COUNT(DISTINCT c.id) AS comment_count,
            MAX(CASE WHEN l.status = 1
                AND l.user_id = #{userId}
                         THEN 1 ELSE 0 END) AS status1,
            MAX(CASE WHEN f.status = 1
                AND f.user_id = #{userId}
                         THEN 1 ELSE 0 END) AS status2,
            MAX(CASE WHEN fo.status = 1
                AND fo.user_id = #{userId}
                         THEN 1 ELSE 0 END) AS status3,
        CASE
        WHEN u.id = #{userId} THEN 1
        ELSE 0
        END AS flag
        FROM
            sys_blog b
                LEFT JOIN
            sys_likes l ON b.id = l.post_id
                LEFT JOIN
            sys_favor f ON b.id = f.post_id
                LEFT JOIN
            sys_comment c ON b.id = c.post_id
                LEFT JOIN
            sys_user u ON b.author_id = u.id
                LEFT JOIN
            sys_categories ct ON b.category_id = ct.id
                LEFT JOIN
            sys_follow fo ON u.id = fo.follow_user_id
        WHERE
            b.status = 0 AND
            b.examine = 1
        <if test="postId != null and postId !=''">
            AND b.id = #{postId}
        </if>
        GROUP BY
            b.id
        ORDER BY
            like_count DESC
    </select>

    <select id="selectBlogFavorDECSByDateTime" resultType="com.sky.vo.BlogFavorVO" parameterType="java.lang.Long">
        SELECT
            b.id,
            b.title,
            b.picture,
            u.avatar,
            b.author_id AS authorId,
            u.user_name AS authorName,
            f.status
        FROM
            sys_blog b
                LEFT JOIN
            sys_favor f ON b.id = f.post_id
                LEFT JOIN
            sys_user u ON b.author_id = u.id
        WHERE
            b.status = 0 AND
            b.examine = 1 AND
            f.status = 1 AND
            f.user_id = #{userId}
        ORDER BY
            b.update_time DESC
    </select>

    <select id="selectBlogLikeDECSByDateTime" resultType="com.sky.vo.BlogFavorVO">
        SELECT
            b.id,
            b.title,
            b.picture,
            u.avatar,
            b.author_id AS authorId,
            u.user_name AS authorName,
            f.status
        FROM
            sys_blog b
                LEFT JOIN
            sys_likes f ON b.id = f.post_id
                LEFT JOIN
            sys_user u ON b.author_id = u.id
        WHERE
            b.status = 0 AND
            b.examine = 1 AND
            f.status = 1 AND
            f.user_id = #{userId}
        ORDER BY
            b.update_time DESC
    </select>

    <select id="selectBlogSent" resultType="com.sky.vo.BlogSentVO" parameterType="java.lang.Long">
        SELECT
            b.id,
            b.title,
            b.picture,
            u.avatar,
            b.author_id AS authorId,
            u.user_name AS authorName,
            b.examine,
            b.status,
            ct.id AS categoryId,
            ct.name AS categoryName,
            COALESCE(L.like_count, 0) AS like_count,
            COALESCE(F.favor_count, 0) AS favor_count,
            COUNT(c.id) AS comment_count
        FROM
            sys_blog b
                LEFT JOIN
            (SELECT post_id, COUNT(*) AS like_count
             FROM sys_likes
             WHERE status = 1
             GROUP BY post_id) L ON b.id = L.post_id
                LEFT JOIN
            (SELECT post_id, COUNT(*) AS favor_count
             FROM sys_favor
             WHERE status = 1
             GROUP BY post_id) F ON b.id = F.post_id
                LEFT JOIN
            sys_comment c ON b.id = c.post_id
                LEFT JOIN
            sys_user u ON b.author_id = u.id
                LEFT JOIN
            sys_categories ct ON b.category_id = ct.id
        WHERE
            b.author_id = #{userId}
        GROUP BY
            b.id,
            b.title,
            b.picture,
            u.avatar,
            b.author_id,
            u.user_name,
            b.examine
        ORDER BY
            b.update_time DESC;
    </select>

    <select id="selectNewLikes" resultType="com.sky.vo.NoticeTotalVO">
        SELECT
            l.id,
            l.user_id,
            u.avatar,
            u.user_name,
            l.post_id,
            b.picture,
            l.update_time,
            CASE
                WHEN 1=1 THEN 1 ELSE 0 END AS flag,
            CASE
                WHEN EXISTS (
                        SELECT 1
                        FROM sys_follow f
                        WHERE f.user_id = #{userId}
                          AND f.follow_user_id = l.user_id
                    ) THEN 1
                ELSE 0
                END AS status
        FROM
            sys_likes l
                JOIN
            sys_blog b ON l.post_id = b.id
                JOIN
            sys_user u ON l.user_id = u.id
        WHERE
            b.author_id = #{userId}
          AND l.status = 1
        ORDER BY
            l.update_time DESC;
    </select>

    <select id="selectNewFavor" resultType="com.sky.vo.NoticeTotalVO">
        SELECT
            l.id,
            l.user_id,
            u.avatar,
            u.user_name,
            l.post_id,
            b.picture,
            l.update_time,
            CASE
                WHEN 1=1 THEN 0 ELSE 1 END AS flag,
            CASE
                WHEN EXISTS (
                        SELECT 1
                        FROM sys_follow f
                        WHERE f.user_id = #{userId}
                          AND f.follow_user_id = l.user_id
                    ) THEN 1
                ELSE 0
                END AS status
        FROM
            sys_favor l
                JOIN
            sys_blog b ON l.post_id = b.id
                JOIN
            sys_user u ON l.user_id = u.id
        WHERE
            b.author_id = #{userId}
          AND l.status = 1
        ORDER BY
            l.update_time DESC;
    </select>

</mapper>