<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.BlogMapper">
    <select id="selectBlogDECSByLikes" resultType="com.sky.vo.BlogVO">
        SELECT
        b.id,
        b.title,
        b.picture,
        u.avatar,
        b.author_id AS authorId,
        u.user_name AS authorName,
        COUNT(l.id) as like_count,
        MAX(CASE WHEN l.status = 1
                          AND l.user_id = #{userId}
            THEN 1 ELSE 0 END) AS status
        FROM
        sys_blog b
        LEFT JOIN
        sys_likes l ON b.id = l.post_id
        LEFT JOIN
        sys_user u ON b.author_id = u.id
        WHERE
        b.status = 0 AND
        b.examine = 0
        <if test="categoryId != null">
            AND b.category_id = #{categoryId}
        </if>
        GROUP BY
        b.id
        ORDER BY
        like_count DESC
    </select>

    <select id="selectBlogForLike" resultType="com.sky.vo.BlogVO">
        SELECT
        b.id,
        b.title,
        b.picture,
        u.avatar,
        b.author_id AS authorId,
        u.user_name AS authorName,
        COUNT(l.id) as like_count,
        MAX(CASE WHEN l.status = 1
        AND l.user_id = #{userId}
        THEN 1 ELSE 0 END) AS status
        FROM
        sys_blog b
        LEFT JOIN
        sys_likes l ON b.id = l.post_id
        LEFT JOIN
        sys_user u ON b.author_id = u.id
        WHERE
        b.status = 0 AND
        b.examine = 0 AND
        b.id = #{postId}
        GROUP BY
        b.id
        ORDER BY
        like_count DESC
    </select>

    <select id="selectBlogDetail" resultType="com.sky.vo.BlogDetailVO">
        SELECT
            b.id,
            b.title,
            b.content,
            b.picture,
            u.avatar,
            b.author_id AS authorId,
            u.user_name AS authorName,
        COUNT(DISTINCT CASE WHEN l.status = 1 THEN l.id END) AS like_count,
        COUNT(DISTINCT CASE WHEN f.status = 1 THEN f.id END) AS favor_count,
        COUNT(c.id) AS comment_count,
            MAX(CASE WHEN l.status = 1
                AND l.user_id = #{userId}
                         THEN 1 ELSE 0 END) AS status1,
            MAX(CASE WHEN f.status = 1
                AND f.user_id = #{userId}
                         THEN 1 ELSE 0 END) AS status2
        FROM
            sys_blog b
                LEFT JOIN
            sys_likes l ON b.id = l.post_id
                LEFT JOIN
            sys_favor f ON b.id = f.post_id
                LEFT JOIN
            sys_comment c ON b.id = c.post_id
                LEFT JOIN
            sys_user u ON b.author_id = u.id
        WHERE
            b.status = 0 AND
            b.examine = 0
        <if test="postId != null and postId !=''">
            AND b.id = #{postId}
        </if>
        GROUP BY
            b.id
        ORDER BY
            like_count DESC
    </select>

    <select id="selectBlogDECSByDateTime" resultType="com.sky.vo.BlogFavorVO" parameterType="java.lang.Long">
        SELECT
        b.id,
        b.title,
        b.picture,
        u.avatar,
        b.author_id AS authorId,
        u.user_name AS authorName,
        f.update_time AS updateTime,
        f.status
        FROM
        sys_blog b
        LEFT JOIN
        sys_favor f ON b.id = f.post_id
        LEFT JOIN
        sys_user u ON b.author_id = u.id
        WHERE
        b.status = 0 AND
        b.examine = 0 AND
        f.status = 1 AND
        f.user_id = #{userId}
        ORDER BY
        updateTime DESC
    </select>

</mapper>