<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <select id="selectUserForFollow" resultType="com.sky.vo.UserFollowVO">
        SELECT
            u.id,
            u.user_name,
            u.avatar,
            f.status AS status  -- 直接取出f.status作为结果
        FROM
            sys_follow f
                LEFT JOIN
            sys_user u ON u.id = f.follow_user_id
        WHERE
            f.status = 1 AND
            f.user_id = #{userId}
        ORDER BY
            f.update_time DESC
    </select>

    <select id="selectUserTotalCount" resultType="int">
        SELECT
                (SELECT COUNT(*) FROM sys_likes WHERE post_id IN (
                    SELECT id FROM sys_blog WHERE author_id = #{authorId}
                )) +
                (SELECT COUNT(*) FROM sys_favor WHERE post_id IN (
                    SELECT id FROM sys_blog WHERE author_id = #{authorId}
                ))
    </select>
    <select id="getFansByUserId" resultType="com.sky.vo.UserFollowVO">
        SELECT
            f1.follow_user_id AS id,
            u.user_name,
            u.avatar,
            f1.update_time,
            CASE
                WHEN EXISTS (
                        SELECT 1
                        FROM sys_follow f2
                        WHERE f2.user_id = f1.follow_user_id
                          AND f2.follow_user_id = #{myId}
                    ) THEN 1
                ELSE 0
                END AS status
        FROM
            sys_follow f1
                JOIN
            sys_user u ON f1.follow_user_id = u.id
        WHERE
            f1.user_id = #{userId}
          AND f1.status = 1
        ORDER BY
            f1.update_time DESC;
    </select>
</mapper>